@import "tailwindcss";
@import "tailwindcss";
@tailwind utilities;
@plugin 'flowbite/plugin';

@layer base {
  html, body {
    @apply h-full w-full overflow-hidden overscroll-none bg-white text-slate-900 dark:bg-slate-900 dark:text-white font-sans;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #fff0f1;
  --color-primary-100: #ffe4e6;
  --color-primary-200: #fcd5d8;
  --color-primary-300: #f7b0b6;
  --color-primary-400: #f0808a;
  --color-primary-500: #e44d59;
  --color-primary-600: #cc2332;
  --color-primary-700: #b3001b;
  --color-primary-800: #93061c;
  --color-primary-900: #7a0919;

  --color-secondary-50: #effdf5;
  --color-secondary-100: #d8fbe6;
  --color-secondary-200: #b4f6d1;
  --color-secondary-300: #81ebb5;
  --color-secondary-400: #49d895;
  --color-secondary-500: #23ce6b;
  --color-secondary-600: #17a855;
  --color-secondary-700: #138545;
  --color-secondary-800: #13693a;
  --color-secondary-900: #115632;

  --color-platinum: #eef0f2;
  --color-shadow-grey: #272932;
  --color-metallic-gold: #deb841;
  --color-mahogany-red: #b3001b;
  --color-emerald: #23ce6b;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}